{% extends "layout.html" %}

{% block content %}

<div class="container mt-5">
    <h2>This is my Home</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae consectetur aut esse corrupti incidunt asperiores tenetur laborum voluptas facere inventore harum rem, reiciendis earum soluta possimus aspernatur suscipit quasi nostrum.
    Non, ut. Assumenda aspernatur, nesciunt voluptate ducimus quia veritatis necessitatibus voluptatem illum provident eligendi molestiae fugiat repellat quidem debitis itaque in doloribus vel earum veniam est neque officia? Nulla, minus?
    Omnis, nesciunt doloribus quo, porro alias culpa delectus tenetur error adipisci aliquam fugiat vitae nemo dicta nihil enim id laudantium quisquam nisi repellat. Autem officia molestiae, voluptates quam fugit laudantium.
    Impedit harum laboriosam facilis facere. Quidem quisquam iure, minima ipsam illum ea veniam blanditiis? Quos quidem, ducimus ea omnis minima voluptate et, incidunt vero quaerat provident voluptatem eos reiciendis sit.
    Sequi voluptatibus dolores et nam illo, ut nulla labore illum totam molestiae sint deleniti, quam unde vitae? Voluptatem aliquid facilis doloremque odio, debitis vel esse ad suscipit laborum temporibus omnis!</p>
</div>

{% endblock %}